<div class="social">
  <a class="social-google" href="/auth/google"><span class="brand sprite sprite-google-logo margin-left-10"></span><span class="text">google</span></a>
  <a class="social-facebook" href="/auth/facebook"><span class="brand sprite sprite-facebook-logo margin-left-10"></span><span class="text">facebook</span></a>
  <a class="social-twitter" href="/auth/twitter"><span class="brand sprite sprite-twitter-logo margin-left-10"></span><span class="text">twitter</span></a>
  <a class="social-yahoo" href="#"><span class="brand sprite sprite-yahoo-logo margin-left-10"></span><span class="text">yahoo</span></a>
  <a class="social-linkedin" href="/auth/linkedin"><span class="brand sprite sprite-linkedin-logo margin-left-10"></span><span class="text">linkedIn</span></a>
</div>
