<h4>Lista de pedidos:</h4>
<br />
<% @orders.each do |order| %>
  <p>Tipo de doação: <%= order.donation.price %></p>
  <p>Usuário: <%= order.buyer_name %></p>
  <p>Status: <%= order.status %></p>
  <hr />
<% end %>

<%= link_to "Doações", "#{donations_path}/donation" %>
