<div id="flash-message">
  <% if notice %>
    <div class="wrapper">
      <p class="notice"><%= notice %><a class="close-message">×</a></p>
    </div>
  <% end %>
  <% if alert %>
    <div class="wrapper">
      <p class="failure"><%= alert %></p>
    </div>
  <% end %>
</div>
