<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12" data-scroll-reveal>
        &copy; 2017 Casal Perfeito - Desenvolvido por <a href="#" target="_blank">Hugo Hernani</a>
      </div>
    </div>
  </div>
</footer>
