<footer>
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12" data-scroll-reveal>
        &copy; 2017 Casal Perfeito - Desenvolvido por <%= mail_to "hhernanni@gmail.com", "Hugo Hernani", subject: "Contato com diadosim.com", body: "Gostaria de entrar em contato com o administrador do site diadosim.com ..." %>.
      </div>
    </div>
  </div>
</footer>
