<section id="gallery">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-12 heading" data-scroll-reveal>
        <h2>Galeria de Imagens</h2>
        <p><span></span><i class="fa fa-heart"></i><span></span></p>
      </div>
    </div>
    <div id="gallery-images-container">
      <% gallery_images = @current_event.gallery.assets.paginate(page: 1, per_page: 25) %>
      <%= render partial: 'list_gallery_images', locals: { gallery_images: gallery_images } %>
    </div>
  </div>
</section>
