<section id="people">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 heading text-center" data-scroll-reveal>
        <h2>Pessoas Mais Importantes</h2>
        <p><span></span><i class="fa fa-heart"></i><span></span></p>
      </div>
    </div>

    <%= render 'parents' %>
    <br>
    <%= render 'witnesses' %>
  </div>
</section>
